@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


/* Variables */
:root {
	--font-family: "Montserrat", sans-serf;
	--normal-font: 400;
	--bold-font: 700;
	--bolder-font: 900;
	--bg-color: #3e52b6;
	--primary-color: #e8eaf6;
	--secondary-color: #f6f4e8;
	--primary-shadow: #9fa8da;
	--secondary-shadow: #dcd28c;
	--bottom-margin: 0.5rem;
	--bottom-margin-2: 1rem;
	--line-height: 1.7rem;
	--transition: 0.3s;
}
  /* Variables end */

#back-to-top {
font-size: 18px !important;
position: fixed;
z-index: 9999;
color: #e60000;
cursor: pointer;
bottom: 2em;
right: 2em;
text-decoration: none;
transition: opacity 0.2s ease-out;
opacity: 1;
}

  
html {
	scroll-behavior: smooth;
}
  
  /* CSS Resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 2px solid red; */
}
  
ul {
	list-style-type: none;
}
  
a {
	text-decoration: none;
	color: var(--primary-color);
}
  
a:hover {
	color: var(--secondary-color);
}

body {
	font-family: var(--font-family);
}
  /* CSS Resets end */
  
  /* Navbar */
nav {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 3.5rem;
	background-color: var(--bg-color);
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
  
nav h1 {
	color: var(--primary-color);
}
  
nav a {
	color: var(--primary-color);
	transition: var(--transition);
}

nav a:hover {
	color: var(--secondary-color);
	border-bottom: 2px solid var(--secondary-color);
}
  
nav ul {
	display: flex;
	gap: 1.9rem;
}
  
nav ul li {
	font-weight: var(--bold-font);
}

.burger-menu {
	color: var(--primary-color);
	font-size: 20rem;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	display: none;
}
  /* Navbar ends */
  
  /* Hero section */
.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2.5rem;
	max-width: 68.75rem;
	margin: auto;
}
  
.hero img {
	height: 30.0rem;
	width: 36.2rem;
}
  
.bio {
	width: 25rem;
	padding: 0.625rem;
	border-radius: 6px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
  
.bio h1 {
	margin-bottom: var(--bottom-margin);
}
  
.bio p {
	line-height: var(--line-height);
	padding: 0.3rem 0;
}

.bio strong {
	color: var(--bg-color);
}

  /* Hero section ends */
  
  /* More about */
.more-about {
	background-color: var(--bg-color);
	padding: 1rem 6rem;
	color: var(--secondary-color);
}
  
.more-about h2 {
	margin-bottom: var(--bottom-margin);
	text-align: center;
}
  
.more-about p {
	line-height: var(--line-height);
	padding: 0.4rem;
}

.company-logos {
	display: flex wrap;
	justify-content: space-evenly;
	align-content: baseline;
}

.company-logos img {
	filter: brightness(0.5) invert(1) grayscale(100%);
	min-height: 60px;
  	max-width: 150px;
  	object-fit:  scale-down;
}

.school-logos {
	display: flex;
	justify-content: space-evenly;
	align-content: baseline;
}

.school-logos img {
	filter: brightness(0.5) invert(1) grayscale(100%);
	min-height: 60px;
  	max-width: 150px;
  	object-fit:  scale-down;
}

  /* More about ends */
  
  /* Skills section */
.skills {
	max-width: 68.75rem;
	margin: auto;
	text-align: center;
	margin-top: 2.5rem;
}
  
.skill-header {
	margin-bottom: 1rem;
}
  
.skills-wrapper img {
	padding: 1.25rem;
}
  
.icon {
	width: 8rem;
	height: 8rem;
}
  /* Skills section ends */
  
  /* Contacts section */
.contact {
	margin-top: 2rem;
}
  
.contact h2 {
	text-align: center;
	margin-bottom: var(--bottom-margin-2);
}
  
.contact-form-container {
	max-width: 40.75rem;
	margin: 0 auto;
	padding: 0.938rem;
	border-radius: 5px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
  
.contact-form-container label {
	line-height: 2.7em;
	font-weight: var(--bold-font);
	color: var(--primary-color);
}
  
.contact-form-container textarea {
	min-height: 6.25rem;
	font-size: 14px;
}
  
.contact-form-container .input-field {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	border: none;
	border: 2px outset var(--primary-color);
	font-size: 0.875rem;
	outline: none;
}
  
.input-field::placeholder {
	padding: 0.5rem;
	color: var(--primary-color);
}
  
.submit-btn {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	background-color: #fff;
	border: 2px solid var(--primary-color);
	border-radius: 5px;
	font-size: 1rem;
	font-weight: var(--bold-font);
	transition: var(--transition);
}
  
.submit-btn:hover {
	background-color: var(--primary-color);
	border: 2px solid var(--primary-color);
	cursor: pointer;
}
  /* Contacts section ends */
  
  /* Social buttons */
.socials {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 1%;
	bottom: 50%;
}
  
.socicon {
	width: 2rem;
	height: 2rem;
}
  /* Social button ends */
  
  /* Scroll to top button */
.scroll-up {
	position: fixed;
	right: 0.5%;
	bottom: 3%;
	cursor: pointer;
}
  
.up-arrow {
	width: 3rem;
	height: 3rem;
}
  /* Scroll to top button ends */
  
  /* Footer section */
footer {
	background-color: var(--bg-color);
	color: var(--primary-color);
	padding: 1.25rem;
	text-align: center;
	margin: 2rem 0 0;
}
  /* Footer section ends */
  
  /* General (utilities) */
.icon-card {
	background-color: #fff;
	border-radius: 11px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	padding: 20px;
	margin: 10px;
}
  
.project-card {
	background-color: #fff;
	border-radius: 11px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	padding: 20px;
	margin: 10px;
}
  
  /* Media queries for responsiveness */
@media screen and (max-width: 720px) {
	nav {
		padding: 1.5rem 1rem;
	}
	nav ul {
		position: fixed;
		background-color: var(--bg-color);
		flex-direction: column;
		top: 86px;
		left: 10%;
		width: 80%;
		text-align: center;
		transform: translateX(120%);
		transition: transform 0.5s ease-in;
	}
	
	nav ul li {
		margin: 8px;
	}

	.burger-menu {
		display: block;
	}

	nav ul.show {
		transform: translateX(0);
	}

	.hero {
		margin-top: -4rem;
		flex-direction: column;
		gap: 0;
	}

	.hero img {
		height: 37.5rem;
		width: 30rem;
	}

	.bio {
		margin-top: -7rem;
		width: 20.5rem;
	}

	.more-about {
		margin-top: 2rem;
		padding: 1rem 3.5rem;
	}

	.more-about h2 {
		text-align: center;
	}

	.more-about p {
		text-align: justify;
	}

	.icon {
		width: 5.875rem;
		height: 5.25rem;
	}

	.projects-container {
		flex-direction: column;
	}

	.project-container {
		width: 20.875rem;
	}

	.contact-form-container {
		max-width: 23.75rem;
	}

	body { padding-top: 0px; }
}
  
@media screen and (max-width: 420px) {
	.hero img {
	  height: 37.5rem;
	  width: 23rem;
	}
  
	.bio {
	  width: 18.3rem;
	}
  
	.project-container {
	  width: 17.875rem;
	}
  
	.contact-form-container {
	  max-width: 17.75rem;
	}
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
font-family: inherit;
font-size: 100%;
color: inherit;
border: none;
border-radius: 0;
display: block;
width: 100%;
padding: 0;
margin: 0;
-webkit-appearance: none;
-moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
font-size: .825rem;
margin-bottom: .5rem;
padding-top: .2rem;
display: flex;
align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
border: 1px solid rgba(0,0,0,0.2);
background-color: rgba(255,255,255,0.9);
padding: .75em 1rem;
margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
background-color: white;
outline-style: solid;
outline-width: thin;
outline-color: gray;
outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
width: auto;
cursor: pointer;
-webkit-appearance: button;
-moz-appearance: button;
appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
margin-bottom: 0;
}
#fs-frm select {
text-transform: none;
}

#fs-frm [type="checkbox"] {
-webkit-appearance: checkbox;
-moz-appearance: checkbox;
appearance: checkbox;
display: inline-block;
width: auto;
margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
-webkit-appearance: radio;
-moz-appearance: radio;
appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
margin-right: 3%;
}	

.card-box {
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	padding: 15px;
	/* min-height: 460px; */
}
